body {
	font-family: Arial, sans-serif;
}

nav {
	width: 100%;
	height: 60px;
	background: #344051;
}

.logo {
	color: #fff;
	font-size: 25px;
	line-height: 60px;
	margin-left: 390px;
	float: left
}

.menu {
	float: left;
	margin-left: 422px;
}

.menu li {
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 18px;
	text-transform: uppercase;
}

.main {
	width: 100%;
	height: 100%;
	background: url(../img/boy.png) 100% 100%/auto 85% no-repeat, url(../img/bg2.jpg) center/cover no-repeat;

}

.title__container {
	float: left;
	margin: 432px 0px 0px 404px;
	color: #2c384a;
	text-align: center;
}

.title__container h1 {
	font-size: 60px;
	font-weight: bold;

}

.title__container h4 {
	margin-top: 40px;
	font-size: 22px;
	color: #79818d
}

.title__container input {

	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 14px 0px 14px;
}

.about__me {
	text-align: center;

}

.about__me h2 {
	font-weight: bold;

	font-size: 30px;
	margin-top: 105px;
	color: #263244;
	text-transform: uppercase;

}

.about__me img {
	margin-top: 50px;
}

.p1 {
	font-weight: bold;
	text-align: left;
	width: 600px;
	margin: 30px 0px 00px 35%;
	color: #263244;

}

.p2 {

	font-weight: bold;
	text-align: left;
	width: 600px;
	margin: 30px 0px 00px 35%;
	color: #263244;

}

.download {
	width: 10%;

	border: 2px solid #6d7682;
	border-radius: 5px;
	text-align: center;
	margin: 40px 0px 0px 845px;
	padding: 5px 16px;
}

.download input {
	color: #6d7682;
	background: none;

}

.item_skills {
	margin-top: 100px;
	background: url(../img/bgskills.png) center/cover no-repeat;
	height: 600px;



}

.h2 {
	color: #263244;
	padding-top: 110px;
	margin-left: 860px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
}



.Web-Design {
	font-weight: 500;
	color: #354051;
	margin-top: 120px;
	margin-left: 340px;
	float: left;
	width: 300px;
	text-align: center
}

.development {
	font-weight: 500;
	color: #354051;
	margin-top: 120px;
	float: left;
	width: 300px;
	text-align: center
}

.SEO-optimization {
	font-weight: 500;
	color: #354051;
	margin-top: 120px;
	float: left;
	width: 300px;
	text-align: center
}

.Marketing {
	font-weight: 500;
	color: #354051;
	margin-top: 120px;
	float: left;
	width: 300px;
	text-align: center
}


.cases_h2 {
	margin: 110px 0px 110px 900px;
	color: #354051;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;

}

.p_afterCases {
	margin: 0px 0px 110px 720px;
	color: #354051;
	font-size: 16px;

}

.item_projectname {
	margin-top: -200px;


	text-align: left;

	width: 600px;
	margin-left: 600px;

}

.item_client {

	float: left;
	text-align: left;
	margin-top: -190px;
	width: 800px;
	margin-left: 300px;

}

.item_website {

	text-align: left;
	margin-top: 20px;
	width: 800px;
	margin-left: 300px;
}

.visit_live_site {
	text-align: left;
	margin-bottom: 60px;
	margin-top: 40px;
	width: 100%;
	margin-left: 300px;
}

.calc_of_cost {
	margin-top: 160px;
	margin-left: 780px;

}


/* 4c535e */

.calc_h2 {
	font-weight: bold;
	font-size: 40px;

	color: #4c535e;
}

.site_type_h2 {
	margin-top: 40px;
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
	color: #4c535e;

}

.design_h2 {
	margin-top: 40px;
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
	color: #4c535e;

}

.Adaptability_h2 {
	margin-top: 40px;
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
	color: #4c535e;
}

.block_of_calc {
	margin-left: -300px;
}

.p_date {
	margin-top: 20px;
	color: #4c535e;
	font-weight: bold;
}

.p_cost {
	margin-top: 20px;
	color: #4c535e;
	font-weight: bold;
}

.sel_1 {
	border: 2px solid #6d7682;
	height: 50px;
	width: 1000px;
}

.block_for_bg {
	background: url(../img/bgStatistics.png) center/cover no-repeat;
	height: 600px;
	margin-left: -220px;
	width: 100%;

}

.some_static {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	color: #4c535e;
	margin-left: 20px;
	margin-top: 50px;
	padding-top: 150px;

}

.item_clients {
	margin-top: 80px;
	float: left;
	margin-left: 70px;
	margin-bottom: 100px;
}

.item_hours {
	margin-top: 80px;
	float: left;
	margin-left: 300px;
	margin-bottom: 100px;
}

.item_Projects_Complited {
	margin-top: 80px;
	float: left;
	margin-left: 300px;
	margin-bottom: 100px;
}

.item_Awards {
	margin-top: 80px;
	float: left;
	margin-left: 300px;
	margin-bottom: 100px;
}

.fb1 {

	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	color: #4c535e;
	margin-left: 370px;
	margin-top: 100px;

}

.item_feedback img {

	margin-left: 400px;
	margin-top: 100px;
}

.pfb {

	margin-top: 40px;
	margin-left: -460px;
	text-align: center;
}

.block_contacts {
	background: url(../img/bgContacts.png) center/cover no-repeat;
	height: 750px;
	padding-top: 0px;
	color: #fff;
	text-align: center;
}

.block_contacts h2 {
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;

	padding-top: 30px;
	text-align: center;

}





.item_geo {
	margin-top: 20px;
	margin-left: 420px;
	margin-bottom: 20px;
	float: left;
}

.item_email {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	float: left;
}

.item_Phone {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	float: left;
}
.block_contacts h5 {
	margin-top: 50px;
}

.item_fb {
	margin-top: 20px;
	margin-left: 505px;
	float: left;
}

.item_twitter {
	margin-top: 20px;
	margin-left: 45px;
	float: left;
}

.item_ball {
	margin-top: 20px;
	margin-left: 45px;
	float: left;
}

.item_github {
	margin-top: 20px;
	margin-left: 45px;
	float: left;
}

.item_in {
	margin-top: 20px;
	margin-left: 45px;
	float: left;
}

.item_inst {
	margin-top: 20px;
	margin-left: 45px;
	float: left;
}
.leave__message {
	margin-top: 120px;
	 
}
.input_1 {
	margin-top: 50px;
	margin-left: 0px;
	width: 354px;
	height: 30px;
}
.input_2 {
		margin-top: 30px;
		margin-left: 20px;
	width: 354px;
	height: 30px;
}
.text__area {
	margin-left: 0px;
width: 734px;
	margin-top: 50px;
}
.leave__message p {
	margin-top: 20px;
}